.Teasers {
    /*display: flex;
    flex-direction: row-reverse;*/
    width: 100%;
    display: flex;
    /*justify-content: space-between;*/
    flex-direction: row;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 20px;
}

.Teaser {
    flex: 1;
    background: #fc8;
    text-align: center;
    margin: 0 10px;
    /*fle*/
}

.Teaser:first-child {
    margin-left: 0;
}

.Teaser:last-child {
    margin-right: 0;
}

.Teaser img {
    width: 100%;
}

@media screen and (max-width: 720px) {
    .Teasers {
        flex-direction: column;
        flex-flow: column;
    }

    .Teaser {
        margin: 0;
    }
}

.form {
    display: table;
    margin: 0 auto;
    text-align: center;
}

.field {
    display: table-row;
}

.form label,
.form input,
.form .invalid {
    display: table-cell;
    margin: 0.5em;
}
