html {
    overflow-y: scroll;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Droid Sans Mono', sans-serif;
    overflow-x: hidden;
}

p {
    text-align: left;
    hyphens: auto;
    padding: 20px;
    /*max-width: 36em;*/
}

p + p {
    margin-top: -10px;
    padding-top: 0;
}
