.Hero {
    position: relative;
    background: url(/20160508_081856_2.jpg) no-repeat center center / auto 100%;
    height: 100vh;
    color: #fff;
}

@media screen and (min-aspect-ratio: 16/9) {
    .Hero {
        background: url(/20160508_081856_2.jpg) no-repeat center top / 100% auto;
        /*height: calc(100vh + 30px);*/
    }
}

@media screen and (min-aspect-ratio: 1/1) {
    .Hero {
        height: calc(100vh + 50px);
    }

    .Hero-content {
        padding-top: calc(50vh - 60px);
    }
}

.Hero-content {
    position: absolute;
    display: inline-block;
    width: 100%;
    padding-top: calc(45vh - 60px);
    /*transform: translateY(-50%);*/
    transform: translateX(-50%);
    font-size: xx-large;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    vertical-align: middle;
}
