.Hero {
    background: url(/20160508_081856_2.jpg) no-repeat center center / auto 100%;
    height: 100vh;
    color: #fff;
}

@media screen and (min-aspect-ratio: 16/9) {
    .Hero {
        background: url(/20160508_081856_2.jpg) no-repeat center top / 100% auto;
    }
}

.Hero-content {
    margin: auto;
    padding-top: calc(100vh - 60px);
    transform: translateY(-50%);
    font-size: xx-large;
    text-transform: uppercase;
    letter-spacing: 2pt;
    vertical-align: middle;
}
